In [2]:
import pandas as pd

### Notes on the files
There are 2 sets of files: from MIMIC and from SNOMED. 
Processed files are in Archive folder
MIMIC files are prefixed with 'mimic_'

In [3]:
admissions = pd.read_csv('admissions.csv')
admissions

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546023,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P13JMH,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2149-01-08 09:11:00,2149-01-08 18:12:00,0
546024,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P38XL8,PHYSICIAN REFERRAL,HOME HEALTH CARE,Medicaid,English,SINGLE,WHITE,2147-07-17 17:18:00,2147-07-18 17:34:00,0
546025,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P33612,EMERGENCY ROOM,DIED,Private,English,WIDOWED,WHITE,2164-09-10 11:09:00,2164-09-10 14:46:00,1
546026,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P036NA,EMERGENCY ROOM,HOME,Private,English,WIDOWED,WHITE,2164-07-24 21:16:00,2164-07-25 01:20:00,0
546027,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P95A45,EMERGENCY ROOM,REHAB,Medicaid,English,NaN,UNKNOWN,2145-11-02 19:28:00,2145-11-02 22:59:00,0

In [4]:
cols_to_drop = ['admit_provider_id',
                'admission_type',
                'admission_location',
                'discharge_location',
                'insurance',
                'marital_status',
                'race',
                'edregtime',
                'edouttime',
                'hospital_expire_flag',
               'language',
               'deathtime']
admissions_n4j = admissions.drop(columns=cols_to_drop)
admissions_n4j

        subject_id   hadm_id            admittime            dischtime
0         10000032  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00
1         10000032  22841357  2180-06-26 18:27:00  2180-06-27 18:49:00
2         10000032  25742920  2180-08-05 23:44:00  2180-08-07 17:50:00
3         10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00
4         10000068  25022803  2160-03-03 23:16:00  2160-03-04 06:26:00
...            ...       ...                  ...                  ...
546023    19999828  25744818  2149-01-08 16:44:00  2149-01-18 17:00:00
546024    19999828  29734428  2147-07-18 16:23:00  2147-08-04 18:10:00
546025    19999840  21033226  2164-09-10 13:47:00  2164-09-17 13:42:00
546026    19999840  26071774  2164-07-25 00:27:00  2164-07-28 12:15:00
546027    19999987  23865745  2145-11-02 21:38:00  2145-11-11 12:57:00

[546028 rows x 4 columns]

In [5]:
admissions_n4j.to_csv('mimic_admissions.csv', index=False)

In [6]:
dx = pd.read_csv('diagnoses_icd.csv')
dx

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[6364488 rows x 5 columns]

In [17]:
# there are both ICD9 and ICD10 codings of the diagnoses 
icd = dx['icd_version'].unique()
icd

array([ 9, 10])

In [7]:
icd9 = dx[dx['icd_version']==9]
icd9

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
6364483    19999987  23865745        7    41401            9
6364484    19999987  23865745        8    78039            9
6364485    19999987  23865745        9     0413            9
6364486    19999987  23865745       10    36846            9
6364487    19999987  23865745       11     7810            9

[2908741 rows x 5 columns]

In [46]:
# the icd code has no separators, we need to add in. First check that all entries are at least 3 digits long
# ge means "greater than or equal to"
is_long_enough = icd9['icd_code'].str.len().ge(3).all()
is_long_enough

np.True_

In [8]:
# insert the separator.
def fix_icd9(code):
    if len(code)==3:
        return code
    else:
        return code[:3] + '.' + code[3:]

icd9['ICD9'] = icd9['icd_code'].apply(fix_icd9)
icd9

C:\Users\Daddy\AppData\Local\Temp\ipykernel_26248\3544540904.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  icd9['ICD9'] = icd9['icd_code'].apply(fix_icd9)

         subject_id   hadm_id  seq_num icd_code  icd_version    ICD9
0          10000032  22595853        1     5723            9   572.3
1          10000032  22595853        2    78959            9  789.59
2          10000032  22595853        3     5715            9   571.5
3          10000032  22595853        4    07070            9  070.70
4          10000032  22595853        5      496            9     496
...             ...       ...      ...      ...          ...     ...
6364483    19999987  23865745        7    41401            9  414.01
6364484    19999987  23865745        8    78039            9  780.39
6364485    19999987  23865745        9     0413            9   041.3
6364486    19999987  23865745       10    36846            9  368.46
6364487    19999987  23865745       11     7810            9   781.0

[2908741 rows x 6 columns]

The ICD9CM to SNOMED mapping table can be downloaded from https://www.nlm.nih.gov/research/umls/mapping_projects/icd9cm_to_snomedct.html 
It comes in 2 tables: a 1-to-1 table, and a 1-to-many table.
We'll concatenate the 2 tables after extracting our 2 attributes of interest: ICD_CODE and SNOMED_CID.

In [10]:
# the encoding from UMLS ICD9CM_to_SNOMED conversion table is in cp1252
# change dtype to string for easier processing later (numerics get auto-converted to scientific notation)
icd9_umls1=pd.read_csv('icd9_snomed_TO1.txt', encoding='cp1252', dtype=str, sep='\t')
icd9_umls1

,ICD_CODE,ICD_NAME,IS_CURRENT_ICD,IP_USAGE,OP_USAGE,AVG_USAGE,IS_NEC,SNOMED_CID,SNOMED_FSN,IS_1-1MAP,CORE_USAGE,IN_CORE
0,427.31,Atrial fibrillation,1,1.89778,3.20644,2.55211,0,49436004,Atrial fibrillation (disorder),1,0.503,1
1,599.0,"Urinary tract infection, site not specified",1,2.13933,1.6533,1.896315,0,68566005,Urinary tract infectious disease (disorder),1,0.5362,1
2,486,"Pneumonia, organism unspecified",1,3.4176,0.30077,1.859185,0,233604007,Pneumonia (disorder),1,0.4722,1
3,585.6,End stage renal disease,1,0.04875,3.23327,1.64101,0,46177005,End-stage renal disease (disorder),1,0.0057,1
4,414.01,Coronary atherosclerosis of native coronary ar...,1,2.58624,0.68026,1.63325,0,53741008,Coronary arteriosclerosis (disorder),1,0.8621,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7385,V62.0,Unemployment,1,NaN,NaN,NaN,0,73438004,Unemployed (finding),1,0.0089,1
7386,V62.4,Social maladjustment,1,NaN,NaN,NaN,0,67564005,Social maladjustment (finding),1,NaN,0
7387,V63.1,Medical services in home not available,1,NaN,NaN,NaN,0,183929004,No home medical services (situation),1,NaN,0
7388,V69.0,Lack of physical exercise,1,NaN,NaN,NaN,0,40979000,Lack of exercise (finding),1,NaN,0
7389,V69.3,Gambling and betting,1,NaN,NaN,NaN,0,105523009,Gambling (finding),1,NaN,0

In [11]:
# see what unique values in some of the columns
unique_icd9 = {}

icd9_umls_explore = icd9_umls1.drop(columns = ['ICD_CODE', 'ICD_NAME', 'IP_USAGE', 'OP_USAGE', 'AVG_USAGE', 'SNOMED_CID', 'SNOMED_FSN', 'CORE_USAGE'])

for col in icd9_umls_explore:
   unique_icd9.update({col: list(icd9_umls_explore[col].unique())})

In [12]:
unique_icd9

{'IS_CURRENT_ICD': ['1', '0'],
 'IS_NEC': ['0'],
 'IS_1-1MAP': ['1'],
 'IN_CORE': ['1', '0']}

In [13]:
# keep just the code mappings
icd9_snomed_1 = icd9_umls1[['ICD_CODE', 'SNOMED_CID']]
icd9_snomed_1

     ICD_CODE SNOMED_CID
0      427.31   49436004
1       599.0   68566005
2         486  233604007
3       585.6   46177005
4      414.01   53741008
...       ...        ...
7385    V62.0   73438004
7386    V62.4   67564005
7387    V63.1  183929004
7388    V69.0   40979000
7389    V69.3  105523009

[7390 rows x 2 columns]

In [14]:
# do the same for the 1-to-many file
icd9_umls2 = pd.read_csv('icd9_snomed_TOM.txt', encoding='cp1252', dtype=str, sep='\t')
icd9_umls2

,ICD_CODE,ICD_NAME,IS_CURRENT_ICD,IP_USAGE,OP_USAGE,AVG_USAGE,IS_NEC,SNOMED_CID,SNOMED_FSN,IS_1-1MAP,CORE_USAGE,IN_CORE
0,V76.12,Other screening mammogram,1,NaN,2.88756,1.44378,1,NaN,NaN,0,NaN,0
1,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305839006,Seen by arts therapy service (finding),0,NaN,0
2,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305840008,Seen by art therapy service (finding),0,NaN,0
3,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305841007,Seen by dance therapy service (finding),0,NaN,0
4,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305842000,Seen by drama therapy service (finding),0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
40916,V69.8,Other problems related to lifestyle,1,NaN,NaN,NaN,1,445896002,Has access to weapon (finding),0,NaN,0
40917,V69.8,Other problems related to lifestyle,1,NaN,NaN,NaN,1,60585007,Slum area living (finding),0,NaN,0
40918,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,443729008,Completion of clinical trial (finding),0,NaN,0
40919,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,713670002,Entered into drug clinical trial (finding),0,NaN,0
40920,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,714976003,Entered into device clinical trial (finding),0,NaN,0

In [15]:
# drop NaN rows for SNOMED_CID
icd9_umls2 = icd9_umls2.dropna(subset=['SNOMED_CID'])
icd9_umls2

,ICD_CODE,ICD_NAME,IS_CURRENT_ICD,IP_USAGE,OP_USAGE,AVG_USAGE,IS_NEC,SNOMED_CID,SNOMED_FSN,IS_1-1MAP,CORE_USAGE,IN_CORE
1,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305839006,Seen by arts therapy service (finding),0,NaN,0
2,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305840008,Seen by art therapy service (finding),0,NaN,0
3,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305841007,Seen by dance therapy service (finding),0,NaN,0
4,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305842000,Seen by drama therapy service (finding),0,NaN,0
5,V57.89,Care involving other specified rehabilitation ...,1,1.91603,0.29744,1.106735,1,305843005,Seen by music therapy service (finding),0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
40916,V69.8,Other problems related to lifestyle,1,NaN,NaN,NaN,1,445896002,Has access to weapon (finding),0,NaN,0
40917,V69.8,Other problems related to lifestyle,1,NaN,NaN,NaN,1,60585007,Slum area living (finding),0,NaN,0
40918,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,443729008,Completion of clinical trial (finding),0,NaN,0
40919,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,713670002,Entered into drug clinical trial (finding),0,NaN,0
40920,V70.7,Examination of participant in clinical trial,1,NaN,NaN,NaN,NaN,714976003,Entered into device clinical trial (finding),0,NaN,0

In [16]:
icd9_snomed_2 = icd9_umls2[['ICD_CODE', 'SNOMED_CID']]
icd9_snomed_2

      ICD_CODE SNOMED_CID
1       V57.89  305839006
2       V57.89  305840008
3       V57.89  305841007
4       V57.89  305842000
5       V57.89  305843005
...        ...        ...
40916    V69.8  445896002
40917    V69.8   60585007
40918    V70.7  443729008
40919    V70.7  713670002
40920    V70.7  714976003

[40047 rows x 2 columns]

In [17]:
# concatenate the 2 sets
icd9_snomed = pd.concat([icd9_snomed_1, icd9_snomed_2], ignore_index=True, axis=0)
icd9_snomed

      ICD_CODE SNOMED_CID
0       427.31   49436004
1        599.0   68566005
2          486  233604007
3        585.6   46177005
4       414.01   53741008
...        ...        ...
47432    V69.8  445896002
47433    V69.8   60585007
47434    V70.7  443729008
47435    V70.7  713670002
47436    V70.7  714976003

[47437 rows x 2 columns]

In [18]:
# check if duplicates present
snomed_duplicates_present = icd9_snomed['SNOMED_CID'].duplicated().any()
snomed_duplicates_present

np.True_

In [19]:
# see the duplicates
counts = icd9_snomed['SNOMED_CID'].value_counts()
counts

SNOMED_CID
289256000    102
397541004     23
289257009     21
7895008       21
80113008      20
            ...
445896002      1
60585007       1
443729008      1
713670002      1
228420000      1
Name: count, Length: 44097, dtype: int64

In [22]:
# the mapping table is a many-to-many table. 
# Since we don't know which SNOMED codes are relevant to the patients, we'll keep all of them.

# create list where each ICD9 points to a list of SNOMED codes.
mapping_list = icd9_snomed.groupby('ICD_CODE')['SNOMED_CID'].apply(list)
mapping_list

ICD_CODE
001.0                                            [63650001]
001.1                                            [81020007]
001.9                                            [63650001]
002.0                                             [4834000]
002.1                                            [76623002]
                                ...
V87.31                                  [16090331000119101]
V87.39    [133261000119105, 36511000119106, 700456002, 7...
V87.41                         [125211000119106, 161653008]
V87.49    [161646004, 161647008, 161649006, 161650006, 1...
V88.01    [428078001, 161800001, 429290001, 107388910001...
Name: SNOMED_CID, Length: 10982, dtype: object

In [24]:
# create a column containing the mapped snomed lists
icd9['snomed'] = icd9['ICD9'].map(mapping_list)
icd9

C:\Users\Daddy\AppData\Local\Temp\ipykernel_26248\4286411229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  icd9['snomed'] = icd9['ICD9'].map(mapping_list)

,subject_id,hadm_id,seq_num,icd_code,icd_version,ICD9,snomed
0,10000032,22595853,1,5723,9,572.3,[34742003]
1,10000032,22595853,2,78959,9,789.59,"[389026000, 1082601000119104, 1082611000119101..."
2,10000032,22595853,3,5715,9,571.5,[266468003]
3,10000032,22595853,4,07070,9,070.70,[50711007]
4,10000032,22595853,5,496,9,496,"[13645005, 195951007, 313299006, 313297008, 19..."
...,...,...,...,...,...,...,...
6364483,19999987,23865745,7,41401,9,414.01,[53741008]
6364484,19999987,23865745,8,78039,9,780.39,"[91175000, 23374007, 29753000, 117891000119100..."
6364485,19999987,23865745,9,0413,9,041.3,[186435004]
6364486,19999987,23865745,10,36846,9,368.46,[34063005]
6364487,19999987,23865745,11,7810,9,781.0,"[26079004, 45352006, 55300003, 221360009, 4451..."

In [25]:
# then explode the snomed lists
icd9_expanded = icd9.explode('snomed')
icd9_expanded

,subject_id,hadm_id,seq_num,icd_code,icd_version,ICD9,snomed
0,10000032,22595853,1,5723,9,572.3,34742003
1,10000032,22595853,2,78959,9,789.59,389026000
1,10000032,22595853,2,78959,9,789.59,1082601000119104
1,10000032,22595853,2,78959,9,789.59,1082611000119101
1,10000032,22595853,2,78959,9,789.59,1085021000119106
...,...,...,...,...,...,...,...
6364487,19999987,23865745,11,7810,9,781.0,83029003
6364487,19999987,23865745,11,7810,9,781.0,8652009
6364487,19999987,23865745,11,7810,9,781.0,87866006
6364487,19999987,23865745,11,7810,9,781.0,87881000119106
6364487,19999987,23865745,11,7810,9,781.0,8972001

In [26]:
# now do the same for the icd10
icd10 = dx[dx['icd_version']==10]
icd10

         subject_id   hadm_id  seq_num icd_code  icd_version
40         10000084  23052089        1    G3183           10
41         10000084  23052089        2    F0280           10
42         10000084  23052089        3     R441           10
43         10000084  23052089        4     R296           10
44         10000084  23052089        5     E785           10
...             ...       ...      ...      ...          ...
6364453    19999828  29734428       18    Z9049           10
6364454    19999828  29734428       19   Z87891           10
6364455    19999828  29734428       20    B9620           10
6364456    19999828  29734428       21    Z1611           10
6364457    19999828  29734428       22    I9581           10

[3455747 rows x 5 columns]

In [31]:
# again there is no punctuation in the ICD10 codes. 
# First check that all entries are at least 3 digits long
# ge means "greater than or equal to"
is_long_enough = icd10['icd_code'].str.len().ge(3).all()
is_long_enough

np.True_

In [32]:
# we'll reuse the fix_icd9 function
# but we'll keep the ICD9 name in the fixed column for easier merging later
icd10['ICD9'] = icd10['icd_code'].apply(fix_icd9)
icd10

C:\Users\Daddy\AppData\Local\Temp\ipykernel_26248\2236987230.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  icd10['ICD9'] = icd10['icd_code'].apply(fix_icd9)

         subject_id   hadm_id  seq_num icd_code  icd_version     ICD9
40         10000084  23052089        1    G3183           10   G31.83
41         10000084  23052089        2    F0280           10   F02.80
42         10000084  23052089        3     R441           10    R44.1
43         10000084  23052089        4     R296           10    R29.6
44         10000084  23052089        5     E785           10    E78.5
...             ...       ...      ...      ...          ...      ...
6364453    19999828  29734428       18    Z9049           10   Z90.49
6364454    19999828  29734428       19   Z87891           10  Z87.891
6364455    19999828  29734428       20    B9620           10   B96.20
6364456    19999828  29734428       21    Z1611           10   Z16.11
6364457    19999828  29734428       22    I9581           10   I95.81

[3455747 rows x 6 columns]

The SNOMED to ICD10 mapping table can be downloaded from https://www.nlm.nih.gov/healthit/snomedct/us_edition.html 
we'll open the .tsv file (which I have renamed as icd10_snomed here.

In [29]:
# open the file with python engine to avoid c-engine regex handling of tab separators
icd10_snomed = pd.read_csv('icd10_snomed.tsv', engine='python', dtype=str, sep='\\t')
icd10_snomed

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,referencedComponentName,mapGroup,mapPriority,mapRule,mapAdvice,mapTarget,mapTargetName,correlationId,mapCategoryId,mapCategoryName
0,4c4d2755-e65f-52dc-8353-ecf437495eb8,20250901,1,5991000124107,6011000124106,10000006,Radiating chest pain,1,1,TRUE,ALWAYS R07.9,R07.9,"Chest pain, unspecified",447561005,447637006,MAP SOURCE CONCEPT IS PROPERLY CLASSIFIED
1,f7e1ed02-3107-5a6c-9439-21e9879fb746,20250901,1,5991000124107,6011000124106,10001005,Bacterial sepsis,1,1,IFA 445518008 | Age at onset of clinical findi...,IF AGE AT ONSET OF CLINICAL FINDING BEFORE 29....,P36.9,"Bacterial sepsis of newborn, unspecified",447561005,447639009,MAP OF SOURCE CONCEPT IS CONTEXT DEPENDENT
2,907aa2b0-a832-5254-acdf-6f366e406d2b,20250901,1,5991000124107,6011000124106,10001005,Bacterial sepsis,1,2,OTHERWISE TRUE,ALWAYS A41.9 | CONSIDER ADDITIONAL CODE TO IDE...,A41.9,"Sepsis, unspecified organism",447561005,447637006,MAP SOURCE CONCEPT IS PROPERLY CLASSIFIED
3,0b918513-be22-5059-beb6-e8348dfc631f,20250901,1,5991000124107,6011000124106,10007009,Coffin-Siris syndrome,1,1,TRUE,ALWAYS Q04.8,Q04.8,Other specified congenital malformations of brain,447561005,447637006,MAP SOURCE CONCEPT IS PROPERLY CLASSIFIED
4,7f3f0a95-0441-57ba-a58f-03d2f2736c60,20250901,1,5991000124107,6011000124106,1001000119102,Pulmonary embolism with pulmonary infarction,1,1,TRUE,ALWAYS I26.99,I26.99,Other pulmonary embolism without acute cor pul...,447561005,447637006,MAP SOURCE CONCEPT IS PROPERLY CLASSIFIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282790,637219cd-bacc-5173-af42-6c469e860e13,20250901,1,5991000124107,6011000124106,9991008,Abdominal colic,1,4,IFA 371102005 | Generalized colicky abdominal ...,IF GENERALIZED COLICKY ABDOMINAL PAIN CHOOSE R...,R10.84,Generalized abdominal pain,447561005,447639009,MAP OF SOURCE CONCEPT IS CONTEXT DEPENDENT
282791,59d20c6c-6081-5f36-bd88-6bc6850d5a29,20250901,1,5991000124107,6011000124106,9991008,Abdominal colic,1,5,IFA 37389005 | Biliary colic |,IF BILIARY COLIC CHOOSE K80.50 | MAP OF SOURCE...,K80.50,Calculus of bile duct without cholangitis or c...,447561005,447639009,MAP OF SOURCE CONCEPT IS CONTEXT DEPENDENT
282792,87df91be-cf36-54dd-8573-d6c4891ba796,20250901,1,5991000124107,6011000124106,9991008,Abdominal colic,1,6,IFA 125661000119107 | Biliary colic with obstr...,IF BILIARY COLIC WITH OBSTRUCTION CHOOSE K80.5...,K80.51,Calculus of bile duct without cholangitis or c...,447561005,447639009,MAP OF SOURCE CONCEPT IS CONTEXT DEPENDENT
282793,70858b16-ed9f-54c3-abe0-2fc3db64b24f,20250901,1,5991000124107,6011000124106,9991008,Abdominal colic,1,7,IFA 38654001 | Recurrent biliary colic |,IF RECURRENT BILIARY COLIC CHOOSE K80.50 | MAP...,K80.50,Calculus of bile duct without cholangitis or c...,447561005,447639009,MAP OF SOURCE CONCEPT IS CONTEXT DEPENDENT
282794,046c94a3-ee9a-52f8-8c7d-9f83f8524fef,20250901,1,5991000124107,6011000124106,9991008,Abdominal colic,1,8,OTHERWISE TRUE,ALWAYS R10.83,R10.83,Colic,447561005,447637006,MAP SOURCE CONCEPT IS PROPERLY CLASSIFIED

In [30]:
for i, col in enumerate(icd10_snomed.columns):
    print(i, col)

0 id
1 effectiveTime
2 active
3 moduleId
4 refsetId
5 referencedComponentId
6 referencedComponentName
7 mapGroup
8 mapPriority
9 mapRule
10 mapAdvice
11 mapTarget
12 mapTargetName
13 correlationId
14 mapCategoryId
15 mapCategoryName

In [36]:
# the 2 attributes of interest are ReferencedComponentId and MapTarget
icd10_umls_snomed = icd10_snomed[['mapTarget','referencedComponentId']]
icd10_umls_snomed = icd10_umls_snomed.rename(columns = {'mapTarget': 'ICD_CODE', 'referencedComponentId': 'SNOMED_CID'})

In [37]:
icd10_umls_snomed

       ICD_CODE     SNOMED_CID
0         R07.9       10000006
1         P36.9       10001005
2         A41.9       10001005
3         Q04.8       10007009
4        I26.99  1001000119102
...         ...            ...
282790   R10.84        9991008
282791   K80.50        9991008
282792   K80.51        9991008
282793   K80.50        9991008
282794   R10.83        9991008

[282795 rows x 2 columns]

In [38]:
# now repeat the groupby and explore procedure
mapping_list_10 = icd10_umls_snomed.groupby('ICD_CODE')['SNOMED_CID'].apply(list)
mapping_list_10

ICD_CODE
A00.0                      [240349003, 447282003, 63650001]
A00.1                       [447282003, 63650001, 81020007]
A00.9     [1193749009, 1193750009, 240350003, 240351004,...
A01.00                                [1179034007, 4834000]
A01.01                                [192648008, 77645007]
                                ...
Z99.11    [129896002, 129896002, 129897006, 1338043001, ...
Z99.2     [105502003, 105502003, 105502003, 105502003, 1...
Z99.3     [105503008, 1268970001, 1357724003, 165243005,...
Z99.81    [268512000, 275915008, 397917005, 397917005, 3...
Z99.89    [105501005, 105504002, 1357724003, 161700006, ...
Name: SNOMED_CID, Length: 22457, dtype: object

In [40]:
icd10['snomed'] = icd10['ICD9'].map(mapping_list_10)
icd10

C:\Users\Daddy\AppData\Local\Temp\ipykernel_26248\3111319087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  icd10['snomed'] = icd10['ICD9'].map(mapping_list_10)

,subject_id,hadm_id,seq_num,icd_code,icd_version,ICD9,snomed
40,10000084,23052089,1,G3183,10,G31.83,"[1259066002, 135811000119107, 1363184005, 1363..."
41,10000084,23052089,2,F0280,10,F02.80,"[101421000119107, 10532003, 1144942002, 114892..."
42,10000084,23052089,3,R441,10,R44.1,"[193756007, 247733004, 247734005, 247735006, 2..."
43,10000084,23052089,4,R296,10,R29.6,"[1144480005, 161898004, 161898004, 249994007, ..."
44,10000084,23052089,5,E785,10,E78.5,"[109041000119107, 114831000119107, 124042003, ..."
...,...,...,...,...,...,...,...
6364453,19999828,29734428,18,Z9049,10,Z90.49,"[107701000119101, 112371000119108, 1156321000,..."
6364454,19999828,29734428,19,Z87891,10,Z87.891,"[1254976004, 160620009, 160621008, 185799001, ..."
6364455,19999828,29734428,20,B9620,10,B96.20,"[10573002, 11618000, 1264217005, 1264217005, 1..."
6364456,19999828,29734428,21,Z1611,10,Z16.11,NaN
6364457,19999828,29734428,22,I9581,10,I95.81,[16055431000119108]

In [41]:
icd10_expanded = icd10.explode('snomed')
icd10_expanded

,subject_id,hadm_id,seq_num,icd_code,icd_version,ICD9,snomed
40,10000084,23052089,1,G3183,10,G31.83,1259066002
40,10000084,23052089,1,G3183,10,G31.83,135811000119107
40,10000084,23052089,1,G3183,10,G31.83,1363184005
40,10000084,23052089,1,G3183,10,G31.83,1363185006
40,10000084,23052089,1,G3183,10,G31.83,1363185006
...,...,...,...,...,...,...,...
6364455,19999828,29734428,20,B9620,10,B96.20,406580004
6364455,19999828,29734428,20,B9620,10,B96.20,406580004
6364455,19999828,29734428,20,B9620,10,B96.20,71057007
6364456,19999828,29734428,21,Z1611,10,Z16.11,NaN
6364457,19999828,29734428,22,I9581,10,I95.81,16055431000119108

In [42]:
# concatenate icd9 and icd10
icd_expanded = pd.concat([icd9_expanded, icd10_expanded])
icd_expanded

,subject_id,hadm_id,seq_num,icd_code,icd_version,ICD9,snomed
0,10000032,22595853,1,5723,9,572.3,34742003
1,10000032,22595853,2,78959,9,789.59,389026000
1,10000032,22595853,2,78959,9,789.59,1082601000119104
1,10000032,22595853,2,78959,9,789.59,1082611000119101
1,10000032,22595853,2,78959,9,789.59,1085021000119106
...,...,...,...,...,...,...,...
6364455,19999828,29734428,20,B9620,10,B96.20,406580004
6364455,19999828,29734428,20,B9620,10,B96.20,406580004
6364455,19999828,29734428,20,B9620,10,B96.20,71057007
6364456,19999828,29734428,21,Z1611,10,Z16.11,NaN
6364457,19999828,29734428,22,I9581,10,I95.81,16055431000119108

In [51]:
# drop the helper columns
mimic_icd = icd_expanded.drop('icd_code', axis=1)
mimic_icd

         subject_id   hadm_id  seq_num  icd_version    ICD9             snomed
0          10000032  22595853        1            9   572.3           34742003
1          10000032  22595853        2            9  789.59          389026000
1          10000032  22595853        2            9  789.59   1082601000119104
1          10000032  22595853        2            9  789.59   1082611000119101
1          10000032  22595853        2            9  789.59   1085021000119106
...             ...       ...      ...          ...     ...                ...
6364455    19999828  29734428       20           10  B96.20          406580004
6364455    19999828  29734428       20           10  B96.20          406580004
6364455    19999828  29734428       20           10  B96.20           71057007
6364456    19999828  29734428       21           10  Z16.11                NaN
6364457    19999828  29734428       22           10  I95.81  16055431000119108

[101757110 rows x 6 columns]

In [52]:
mimic_icd.reset_index(drop=True, inplace=True)
mimic_icd

,subject_id,hadm_id,seq_num,icd_version,ICD9,snomed
0,10000032,22595853,1,9,572.3,34742003
1,10000032,22595853,2,9,789.59,389026000
2,10000032,22595853,2,9,789.59,1082601000119104
3,10000032,22595853,2,9,789.59,1082611000119101
4,10000032,22595853,2,9,789.59,1085021000119106
...,...,...,...,...,...,...
101757105,19999828,29734428,20,10,B96.20,406580004
101757106,19999828,29734428,20,10,B96.20,406580004
101757107,19999828,29734428,20,10,B96.20,71057007
101757108,19999828,29734428,21,10,Z16.11,NaN
101757109,19999828,29734428,22,10,I95.81,16055431000119108

In [53]:
# remove duplicate rows
mimic_icd = mimic_icd.drop_duplicates(keep='first')
mimic_icd

,subject_id,hadm_id,seq_num,icd_version,ICD9,snomed
0,10000032,22595853,1,9,572.3,34742003
1,10000032,22595853,2,9,789.59,389026000
2,10000032,22595853,2,9,789.59,1082601000119104
3,10000032,22595853,2,9,789.59,1082611000119101
4,10000032,22595853,2,9,789.59,1085021000119106
...,...,...,...,...,...,...
101757102,19999828,29734428,20,10,B96.20,371323006
101757105,19999828,29734428,20,10,B96.20,406580004
101757107,19999828,29734428,20,10,B96.20,71057007
101757108,19999828,29734428,21,10,Z16.11,NaN
101757109,19999828,29734428,22,10,I95.81,16055431000119108

In [55]:
mimic_diagnoses = mimic_icd.rename(columns={'ICD9':'ICD'})

In [56]:
mimic_icd.to_csv('mimic_diagnoses.csv', index=False)

In [57]:
# the file is huge, we also create a shorter demo version where ICD9 column has unique values
mimic_diagnoses_small = mimic_diagnoses.drop_duplicates(subset=['subject_id', 'hadm_id', 'ICD'], keep='first')
mimic_diagnoses_small

,subject_id,hadm_id,seq_num,icd_version,ICD,snomed
0,10000032,22595853,1,9,572.3,34742003
1,10000032,22595853,2,9,789.59,389026000
20,10000032,22595853,3,9,571.5,266468003
21,10000032,22595853,4,9,070.70,50711007
22,10000032,22595853,5,9,496,13645005
...,...,...,...,...,...,...
101757024,19999828,29734428,18,10,Z90.49,107701000119101
101757048,19999828,29734428,19,10,Z87.891,1254976004
101757084,19999828,29734428,20,10,B96.20,10573002
101757108,19999828,29734428,21,10,Z16.11,NaN
101757109,19999828,29734428,22,10,I95.81,16055431000119108

In [58]:
mimic_diagnoses_small.reset_index(drop=True, inplace=True)
mimic_diagnoses_small

,subject_id,hadm_id,seq_num,icd_version,ICD,snomed
0,10000032,22595853,1,9,572.3,34742003
1,10000032,22595853,2,9,789.59,389026000
2,10000032,22595853,3,9,571.5,266468003
3,10000032,22595853,4,9,070.70,50711007
4,10000032,22595853,5,9,496,13645005
...,...,...,...,...,...,...
6364095,19999828,29734428,18,10,Z90.49,107701000119101
6364096,19999828,29734428,19,10,Z87.891,1254976004
6364097,19999828,29734428,20,10,B96.20,10573002
6364098,19999828,29734428,21,10,Z16.11,NaN
6364099,19999828,29734428,22,10,I95.81,16055431000119108

In [60]:
# drop SNOMED values that are nan
mimic_diagnoses_small = mimic_diagnoses_small.dropna(subset='snomed')
mimic_diagnoses_small

,subject_id,hadm_id,seq_num,icd_version,ICD,snomed
0,10000032,22595853,1,9,572.3,34742003
1,10000032,22595853,2,9,789.59,389026000
2,10000032,22595853,3,9,571.5,266468003
3,10000032,22595853,4,9,070.70,50711007
4,10000032,22595853,5,9,496,13645005
...,...,...,...,...,...,...
6364094,19999828,29734428,17,10,I83.90,1237133002
6364095,19999828,29734428,18,10,Z90.49,107701000119101
6364096,19999828,29734428,19,10,Z87.891,1254976004
6364097,19999828,29734428,20,10,B96.20,10573002
6364099,19999828,29734428,22,10,I95.81,16055431000119108

In [61]:
mimic_diagnoses_small.to_csv('mimic_diagnoses_small.csv', index=False)

In [64]:
service = pd.read_csv('services.csv')
service

        subject_id   hadm_id         transfertime prev_service curr_service
0         10000032  22595853  2180-05-06 22:24:57          NaN          MED
1         10000032  22841357  2180-06-26 18:28:08          NaN          MED
2         10000032  25742920  2180-08-05 23:44:50          NaN          MED
3         10000032  29079034  2180-07-23 12:36:04          NaN          MED
4         10000068  25022803  2160-03-03 23:17:17          NaN          MED
...            ...       ...                  ...          ...          ...
593066    19999828  29734428  2147-07-18 16:24:15          NaN         SURG
593067    19999840  21033226  2164-09-10 13:49:01          NaN         NMED
593068    19999840  21033226  2164-09-14 10:40:18         NMED          MED
593069    19999840  26071774  2164-07-25 00:27:59          NaN         NMED
593070    19999987  23865745  2145-11-02 21:39:58          NaN         NMED

[593071 rows x 5 columns]

In [63]:
service = service[['hadm_id', 'curr_service']]
service

         hadm_id curr_service
0       22595853          MED
1       22841357          MED
2       25742920          MED
3       29079034          MED
4       25022803          MED
...          ...          ...
593066  29734428         SURG
593067  21033226         NMED
593068  21033226          MED
593069  26071774         NMED
593070  23865745         NMED

[593071 rows x 2 columns]

In [65]:
service.to_csv('mimic_service.csv', index=False)