In [1]:
import os, pandas as pd

In [2]:
# list files in current working directory
files = os.listdir()
files

['.ipynb_checkpoints',
 'concept.csv',
 'concept.txt',
 'description.csv',
 'description.txt',
 'identifier.csv',
 'identifier.txt',
 'refset_owl_expression.csv',
 'refset_owl_expression.txt',
 'relationship.csv',
 'relationship.txt',
 'relationship_concrete_values.csv',
 'relationship_concrete_values.txt',
 'SNOMED files exploration.ipynb',
 'SNOMED files.ipynb',
 'stated_relationship.csv',
 'stated_relationship.txt',
 'text_definition.csv',
 'text_definition.txt']

In [3]:
# pop the files not needed 
for idx, file in enumerate(files):
    if 'ipynb' in file:
        files.pop(idx)
files

['concept.csv',
 'concept.txt',
 'description.csv',
 'description.txt',
 'identifier.csv',
 'identifier.txt',
 'refset_owl_expression.csv',
 'refset_owl_expression.txt',
 'relationship.csv',
 'relationship.txt',
 'relationship_concrete_values.csv',
 'relationship_concrete_values.txt',
 'SNOMED files.ipynb',
 'stated_relationship.csv',
 'stated_relationship.txt',
 'text_definition.csv',
 'text_definition.txt']

In [4]:
for idx, file in enumerate(files):
    if 'csv' in file:
        files.pop(idx)
files

['concept.txt',
 'description.txt',
 'identifier.txt',
 'refset_owl_expression.txt',
 'relationship.txt',
 'relationship_concrete_values.txt',
 'SNOMED files.ipynb',
 'stated_relationship.txt',
 'text_definition.txt']

Note: the 'identifier.txt' file is blank

In [5]:
# open each file to inspect contents
describe = pd.read_csv('description.csv')
describe.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,101013,20170731,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000448009
1,102018,20170731,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000448009
2,103011,20170731,1,900000000000207008,126815003,en,900000000000013009,Neoplasm of lateral wall of oropharynx,900000000000448009
3,104017,20170731,1,900000000000207008,126816002,en,900000000000013009,Neoplasm of posterior wall of oropharynx,900000000000448009
4,105016,20170731,1,900000000000207008,126817006,en,900000000000013009,Neoplasm of esophagus,900000000000448009

In [6]:
describe['id'].is_unique

True

In [7]:
relate = pd.read_csv('relationship.csv')
relate.head()

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
0,100022,20090731,0,900000000000207008,100000000,102272007,0,116680003,900000000000011006,900000000000451002
1,101021,20020131,1,900000000000207008,10000006,29857009,0,116680003,900000000000011006,900000000000451002
2,102025,20020131,1,900000000000207008,10000006,9972008,0,116680003,900000000000011006,900000000000451002
3,103024,20030131,0,900000000000207008,1000004,19130008,0,116680003,900000000000011006,900000000000451002
4,104029,20090731,0,900000000000207008,100001001,102272007,0,116680003,900000000000011006,900000000000451002

In [8]:
define = pd.read_csv('text_definition.csv')
define.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,2884452019,20190731,0,900000000000207008,410016009,en,900000000000550004,A decrease in lower leg circumference due to r...,900000000000017005
1,2884453012,20050731,1,900000000000207008,416118004,en,900000000000550004,Introduction of a substance to the body,900000000000017005
2,2884454018,20030731,1,900000000000207008,125097000,en,900000000000550004,Domestic goat,900000000000017005
3,2884455017,20110131,0,900000000000207008,125099002,en,900000000000550004,Domestic sheep species,900000000000017005
4,2884456016,20030731,1,900000000000207008,122868007,en,900000000000550004,An implantation of a staple,900000000000017005

In [9]:
state = pd.read_csv('stated_relationship.csv')
state.head()

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
0,3187444026,20160131,0,900000000000207008,425630003,400195000,0,42752001,900000000000010007,900000000000451002
1,3192499027,20140131,0,900000000000207008,425630003,105590001,0,246075003,900000000000010007,900000000000451002
2,3574321020,20160131,0,900000000000207008,425630003,111189002,0,116680003,900000000000010007,900000000000451002
3,3829433029,20190731,0,900000000000207008,102977005,102976001,0,116680003,900000000000010007,900000000000451002
4,3829434024,20190731,0,900000000000207008,413337008,306751006,0,116680003,900000000000010007,900000000000451002

In [10]:
concrete = pd.read_csv('relationship_concrete_values.csv')
concrete.head()

,id,effectiveTime,active,moduleId,sourceId,value,relationshipGroup,typeId,characteristicTypeId,modifierId
0,13830203029,20210731,1,900000000000207008,830045007,#3,0,1142139005,900000000000011006,900000000000451002
1,13830204024,20210731,1,900000000000207008,830064001,#3,0,1142139005,900000000000011006,900000000000451002
2,13830205020,20210731,1,900000000000207008,830066004,#3,0,1142139005,900000000000011006,900000000000451002
3,13830206021,20210731,1,900000000000207008,830108003,#1,0,1142139005,900000000000011006,900000000000451002
4,13830207028,20210731,1,900000000000207008,830110001,#1,0,1142139005,900000000000011006,900000000000451002

In [12]:
owl = pd.read_csv('refset_owl_expression.csv')
owl.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,owlExpression
0,80001735-381a-4c86-a986-a6ebd875f6c7,20190731,1,900000000000207008,733073007,42061009,SubClassOf(:42061009 :398334008)
1,80002779-6efa-491f-88d3-8a393898bbe4,20190731,1,900000000000207008,733073007,239604004,SubClassOf(:239604004 ObjectIntersectionOf(:26...
2,80004459-1608-4ec1-9d41-ae994cd7f6a9,20190731,1,900000000000207008,733073007,283910009,SubClassOf(:283910009 :283904009)
3,80005cdc-07bf-41b8-9e90-47393b071a6a,20190731,1,900000000000207008,733073007,721657003,EquivalentClasses(:721657003 ObjectIntersectio...
4,8000d644-fed0-498d-8882-3e69d3f964d1,20190731,1,900000000000207008,733073007,87885009,SubClassOf(:87885009 :2090006)

In [14]:
concepts = pd.read_csv('concept.csv')
concepts.head()

       id  effectiveTime  active            moduleId  definitionStatusId
0  100005       20020131       0  900000000000207008  900000000000074008
1  101009       20020131       1  900000000000207008  900000000000074008
2  102002       20020131       1  900000000000207008  900000000000074008
3  103007       20020131       1  900000000000207008  900000000000074008
4  104001       20020131       1  900000000000207008  900000000000073002

#### Notes
Explanations for some of the fields can be found at: https://docs.snomed.org/snomed-ct-specifications/snomed-ct-release-file-specification/appendices/appendix-e-concept-enumerations  
1. ModuleId : present in all SNOMED files. Refers to development module
2. DefinitionStatusId : Found in concepts.txt. Only 2 choices: 9xxx...73002 (fully defined) and 9xxx...74008 (incompletely defined; concept is considered to be primitive.
3. Description TypeId : Found in description.txt. Only 3 choices: 9xxx...3001 (fully-specified), 9xxx13009 (synonym in the language indicated by LanguageCode field in description.txt), 9xxx...50004 (textual definition of the associated concept in the language indcated by LanguageCode field).
4. CaseSignificanceId : Found in description.txt and text_definition.txt. 3 choices: 9xxx...17005 (text must be presented in the case in which it is specified), 9xxx...20002 (case-insensitive for first letter in the term), 9xxx...448009 (entire description term is case-insensitive and can be changed to upper or lowercase). Probably not useful.
5. CharacteristicTypeId : Found in relationship.txt, stated_relationship.txt and relationship_concrete_values.txt. Refers to relationship. Only 1 entry, so not useful. Should remove during cleaning.
6. ModifierId : also found in the 3 relationships files. only 1 choice, so can also drop

In [16]:
datasets_old = [concepts, describe, relate, define, state, concrete, owl]

In [18]:
# what are the values for active and languageCode?

active = []

for dataset in datasets_old:
    unique_active = list(dataset['active'].unique())
    active.append(unique_active)

active_set = set([item for sublist in active for item in sublist])
active_set

{np.int64(0), np.int64(1)}

In [21]:
# slice out the inactive entries
concepts, describe, relate, define, state, concrete, owl = [df[df['active'] == 1] for df in datasets_old]

In [56]:
# for name, df in new_dataset_dict.items():
   # globals()[name] = df

In [22]:
# test the results
define.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
1,2884453012,20050731,1,900000000000207008,416118004,en,900000000000550004,Introduction of a substance to the body,900000000000017005
2,2884454018,20030731,1,900000000000207008,125097000,en,900000000000550004,Domestic goat,900000000000017005
4,2884456016,20030731,1,900000000000207008,122868007,en,900000000000550004,An implantation of a staple,900000000000017005
6,2884458015,20030731,1,900000000000207008,125671007,en,900000000000550004,"Disruption of continuity of tissue, not necess...",900000000000017005
7,2884459011,20030731,1,900000000000207008,127062003,en,900000000000550004,Peripheral blood red cell count above the norm...,900000000000017005

In [23]:
# languageCode
lang = []

for dataset in datasets_old:
    if 'languageCode' in dataset.columns:
        unique_lang = list(dataset['languageCode'].unique())
        lang.append(unique_lang)

lang_set = set([item for sublist in lang for item in sublist])
lang_set
# set contains only english, so can remove languageCode column

{'en'}

In [28]:
# Cleaning

to_remove = ['caseSignificanceId', 
             'active',
             'characteristicTypeId',
             'modifierId',
             'effectiveTime',
             'moduleId',
             'definitionStatusId',
             'languageCode']

In [44]:
# do for the rest
for dataframe in datasets_old:
    remove(dataframe)

In [50]:
datasets_new = [df.drop(columns=[col for col in to_remove if col in df.columns]) for df in datasets_old]
concepts, describe, relate, define, state, concrete, owl = datasets_new

In [51]:
# check on one
describe.head()

,id,conceptId,typeId,term
0,101013,126813005,900000000000013009,Neoplasm of anterior aspect of epiglottis
1,102018,126814004,900000000000013009,Neoplasm of junctional region of epiglottis
2,103011,126815003,900000000000013009,Neoplasm of lateral wall of oropharynx
3,104017,126816002,900000000000013009,Neoplasm of posterior wall of oropharynx
4,105016,126817006,900000000000013009,Neoplasm of esophagus

In [52]:
# save to csv
csv_names = {'concept': concepts,
             'description': describe,
             'relationship': relate,
             'text_definition': define,
             'stated_relationship': state,
             'relationship_concrete_values': concrete,
             'refset_owl_expression': owl}

for filename_prefix, dataframe in csv_names.items():
    dataframe.to_csv(filename_prefix + '_cleaned.csv', index=False)